# Trash
*.*~
\#*#
*.swp

# Test files
test*
mocks/
*.ipynb
*.desktop

# Build dirs/files
*/__pycache__
app/
app_build/
_build/
.flatpak-builder/
repo/
*.flatpak
.buildconfig

# IDE dirs
.vscode/
.idea/