.chip-box {
	background-color: alpha(currentColor, .15);
	border-radius: 999px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.chip-blue {
	color: @blue_3;
}

.chip-yellow {
	color: @yellow_5;
}

.chip-orange {
	color: @orange_5;
}

.chip-green	{
	color: @green_4;
}

.active-toggle-blue {
	background-color: @blue_3;
	color: @light_1;
}

.active-toggle-blue:hover {
	background-color: @blue_4;
}

.active-toggle-green {
	background-color: @green_4;
	color: @light_1;
}

.active-toggle-green:hover {
	background-color: @green_5;
}

.app-banner-listbox {
	background-color: transparent;
}

.app-banner-entry {
	border-radius: 12px;
}

.title-1-row text {
	font-weight: 800;
	font-size: 20pt;
}

.title-2-row text {
	font-weight: 800;
	font-size: 15pt;
}