.app-banner-listbox {
    background-color: transparent;
}

.app-banner-listbox>row {
    border-radius: 12px;
}

.title-1-row text {
    font-weight: 800;
    font-size: 20pt;
}

.title-2-row text {
    font-weight: 800;
    font-size: 15pt;
}

.cutout {
    border-radius: 9999px;
    padding: 2px;
}
